.gitlab-extension .screen,
.gitlab-extension .screen-wrapper {
    width: 550px;
    max-width: 550px;
    height: 600px;
    max-height: 600px;
}

.gitlab-extension .search-bar {
    height: 40px;
    padding: 5px 10px;
}

.gitlab-extension .search-bar .search-area-box .navigate-back-icon-button {
    margin-right: 15px;
}

.gitlab-extension .search-bar .search-area-box .search-text-input .search-entry-icon {
    width: 21px;
    height: 21px;
}

.gitlab-extension .search-bar .button-box {
    height: 20px;
    margin-left: 15px;
}

.gitlab-extension .search-bar .button-box .icon-button {
    margin: 0 5px;
}

.gitlab-extension .card {
    margin: 10px 15px;
    padding: 10px 20px;
    box-shadow: none;
}

.gitlab-extension .card .header-box {
    margin-bottom: 8px;
}

.gitlab-extension .card .pipeline-status-icon {
    margin-left: 8px;
}

.gitlab-extension .commit-card .commit-title-label,
.gitlab-extension .project-card .project-name-label {
    font-size: 13pt;
    padding-right: 10px;
}

.gitlab-extension .project-select-buttons {
    height: 40px;
    min-height: 40px;
    padding: 5px;
}

.gitlab-extension .project-select-buttons .message.button {
    height: 40px !important;
    min-height: 40px !important;
    padding: 5px !important;
    margin: 5px !important;
}

.gitlab-extension .project-select-buttons .message.button.active {
    font-weight: bold;
    text-decoration: underline;
}

/* i found no other way to highlight the buttons w/o breaking theme... */
.gitlab-extension .detail-tab-bar-box .button.active {
    border-bottom-width: 5px;
    border-top-width: 5px;
}
